.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 650px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
}

#u5284
{
	z-index: 50;
	width: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#pu5189
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 154px;
}

#u5189
{
	z-index: 2;
	width: 763px;
	margin-left: 23px;
}

#u5254-4
{
	z-index: 46;
	margin-left: 31px;
}

#menuu5190
{
	z-index: 3;
	width: 763px;
	margin-top: 4px;
}

#u5219
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
}

#u5220
{
	width: 107px;
	padding-bottom: 10px;
}

#u5220:hover
{
	margin: 0px;
}

#u5220:active
{
	margin: 0px;
}

#u5247
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 109px;
}

#u5248
{
	width: 107px;
	padding-bottom: 10px;
}

#u5220.MuseMenuActive,#u5248:hover
{
	margin: 0px;
}

#u5248:active
{
	margin: 0px;
}

#u5191
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 218px;
}

#u5194
{
	width: 107px;
	padding-bottom: 10px;
}

#u5248.MuseMenuActive,#u5194:hover
{
	margin: 0px;
}

#u5194:active
{
	margin: 0px;
}

#u5240
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 327px;
}

#u5243
{
	width: 107px;
	padding-bottom: 10px;
}

#u5194.MuseMenuActive,#u5243:hover
{
	margin: 0px;
}

#u5243:active
{
	margin: 0px;
}

#u5226
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 436px;
}

#u5229
{
	width: 107px;
	padding-bottom: 10px;
}

#u5243.MuseMenuActive,#u5229:hover
{
	margin: 0px;
}

#u5229:active
{
	margin: 0px;
}

#u5222-4,#u5249-4,#u5196-4,#u5244-4,#u5232-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u5198
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 545px;
}

#u5199
{
	width: 108px;
	padding-bottom: 10px;
}

#u5229.MuseMenuActive,#u5199:hover
{
	margin: 0px;
}

#u5199:active
{
	margin: 0px;
}

#u5233
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 655px;
}

#u5236
{
	width: 108px;
	padding-bottom: 10px;
}

#u5199.MuseMenuActive,#u5236:hover
{
	margin: 0px;
}

#u5236:active
{
	margin: 0px;
}

#u5236.MuseMenuActive
{
	margin: 0px;
}

#u5200-4,#u5239-4
{
	width: 108px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#tab-panelu4135
{
	z-index: 52;
	width: 652px;
	margin-top: 97px;
	position: relative;
}

#u4157
{
	z-index: 53;
	width: 652px;
	position: relative;
}

#u4162
{
	z-index: 54;
	width: 217px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u4162:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 217px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u4164-4
{
	z-index: 55;
	width: 217px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u4162:hover #u4164-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4158
{
	z-index: 59;
	width: 217px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 217px;
	border-width: 1px 0px 1px 1px;
}

#u4158:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 217px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u4162.TabbedPanelsTabSelected,#u4158.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 217px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u4159-4
{
	z-index: 60;
	width: 217px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u4158:hover #u4159-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4166
{
	z-index: 64;
	width: 216px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 434px;
}

#u4166:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 216px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4166.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 216px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u4168-4
{
	z-index: 65;
	width: 216px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u4166:hover #u4168-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4162.TabbedPanelsTabSelected #u4164-4,#u4158.TabbedPanelsTabSelected #u4159-4,#u4166.TabbedPanelsTabSelected #u4168-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4170
{
	z-index: 69;
	width: 652px;
	position: relative;
}

#u4171
{
	z-index: 70;
	width: 650px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 111px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u4221
{
	z-index: 79;
	width: 145px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 37px;
}

#u4172-8
{
	z-index: 71;
	width: 404px;
	min-height: 283px;
	line-height: 22px;
	color: #6B6B6B;
	font-size: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 197px;
}

#u4172-2,#u4172-3,#u4172-4
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u4172-6
{
	font-family: Times New Roman;
	font-weight: normal;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u4172-5
{
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	line-height: 17px;
}

#u4179
{
	z-index: 81;
	width: 607px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 10px 23px 93.03895876646203px 20px;
	border-width: 0px 1px 1px;
}

#pu4181
{
	width: 0.01px;
	margin-left: 22px;
	position: relative;
}

#u4181
{
	z-index: 89;
	width: 182px;
	height: 125px;
	position: relative;
	margin-right: -10000px;
}

.ie #u4181
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u4232
{
	z-index: 90;
	width: 185px;
	position: relative;
	margin-right: -10000px;
	left: 184px;
}

#u4180-7
{
	z-index: 82;
	width: 607px;
	min-height: 177px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-top: 19px;
	position: relative;
}

#u4175
{
	z-index: 92;
	width: 650px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 86px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u4176
{
	z-index: 101;
	width: 152px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 9px;
}

#u4176_clip
{
	overflow: hidden;
	width: 152px;
	height: 104px;
}

#u4176_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u4178-8
{
	z-index: 93;
	width: 270px;
	min-height: 302px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 177px;
}

#u4180-2,#u4180-3,#u4178-2,#u4178-3,#u4178-4
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u4180-5,#u4178-6
{
	line-height: 20px;
	color: #999999;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#page .verticalspacer
{
	clear: both;
}

