.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 920px;
	min-height: 637px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 13px 20px 100px;
}

#pu5284
{
	width: 0.01px;
	position: relative;
}

#u5284
{
	z-index: 50;
	width: 131px;
	margin-right: -10000px;
}

#u5189
{
	z-index: 2;
	width: 763px;
	margin-right: -10000px;
	margin-top: 9px;
	left: 157px;
}

#u5254-4
{
	z-index: 46;
	margin-left: 31px;
}

#menuu5190
{
	z-index: 3;
	width: 763px;
	margin-top: 4px;
}

#u5219
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
}

#u5220
{
	width: 107px;
	padding-bottom: 10px;
}

#u5220:hover
{
	margin: 0px;
}

#u5220:active
{
	margin: 0px;
}

#u5247
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 109px;
}

#u5248
{
	width: 107px;
	padding-bottom: 10px;
}

#u5220.MuseMenuActive,#u5248:hover
{
	margin: 0px;
}

#u5248:active
{
	margin: 0px;
}

#u5191
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 218px;
}

#u5194
{
	width: 107px;
	padding-bottom: 10px;
}

#u5248.MuseMenuActive,#u5194:hover
{
	margin: 0px;
}

#u5194:active
{
	margin: 0px;
}

#u5240
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 327px;
}

#u5243
{
	width: 107px;
	padding-bottom: 10px;
}

#u5194.MuseMenuActive,#u5243:hover
{
	margin: 0px;
}

#u5243:active
{
	margin: 0px;
}

#u5226
{
	width: 107px;
	min-height: 27px;
	margin-right: -10000px;
	left: 436px;
}

#u5229
{
	width: 107px;
	padding-bottom: 10px;
}

#u5243.MuseMenuActive,#u5229:hover
{
	margin: 0px;
}

#u5229:active
{
	margin: 0px;
}

#u5222-4,#u5249-4,#u5196-4,#u5244-4,#u5232-4
{
	width: 107px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#u5198
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 545px;
}

#u5199
{
	width: 108px;
	padding-bottom: 10px;
}

#u5229.MuseMenuActive,#u5199:hover
{
	margin: 0px;
}

#u5199:active
{
	margin: 0px;
}

#u5233
{
	width: 108px;
	min-height: 27px;
	margin-right: -10000px;
	left: 655px;
}

#u5236
{
	width: 108px;
	padding-bottom: 10px;
}

#u5199.MuseMenuActive,#u5236:hover
{
	margin: 0px;
}

#u5236:active
{
	margin: 0px;
}

#u5236.MuseMenuActive
{
	margin: 0px;
}

#u5200-4,#u5239-4
{
	width: 108px;
	min-height: 17px;
	margin-right: -10000px;
	top: 5px;
}

#ptab-panelu4635
{
	width: 0.01px;
	margin-left: 81px;
	margin-top: 56px;
	position: relative;
}

#tab-panelu4635
{
	z-index: 52;
	width: 758px;
	position: relative;
	margin-right: -10000px;
}

#u4657
{
	z-index: 53;
	width: 758px;
	position: relative;
}

#u4658
{
	z-index: 54;
	width: 151px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u4658:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u4659-4
{
	z-index: 55;
	width: 151px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u4658:hover #u4659-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4662
{
	z-index: 59;
	width: 151px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 151px;
	border-width: 1px 0px 1px 1px;
}

#u4662:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u4658.TabbedPanelsTabSelected,#u4662.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u4664-4
{
	z-index: 60;
	width: 151px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u4662:hover #u4664-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4666
{
	z-index: 64;
	width: 150px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 302px;
}

#u4666:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 150px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4666.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 150px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u4668-4
{
	z-index: 65;
	width: 150px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u4666:hover #u4668-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4717
{
	z-index: 69;
	width: 151px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 453px;
}

#u4717:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4719-4
{
	z-index: 70;
	width: 151px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u4717:hover #u4719-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4726
{
	z-index: 74;
	width: 151px;
	min-height: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 605px;
}

#u4726:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u4717.TabbedPanelsTabSelected,#u4726.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 151px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u4729-4
{
	z-index: 75;
	width: 151px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	text-align: center;
	line-height: 20px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u4726:hover #u4729-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4658.TabbedPanelsTabSelected #u4659-4,#u4662.TabbedPanelsTabSelected #u4664-4,#u4666.TabbedPanelsTabSelected #u4668-4,#u4717.TabbedPanelsTabSelected #u4719-4,#u4726.TabbedPanelsTabSelected #u4729-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px;
}

#u4670
{
	z-index: 79;
	width: 758px;
	position: relative;
}

#u4679
{
	z-index: 80;
	width: 756px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 259px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u4680-7
{
	z-index: 81;
	width: 270px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 26px;
}

#u4671
{
	z-index: 88;
	width: 756px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 254px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u4673
{
	z-index: 95;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u4672-6
{
	z-index: 89;
	width: 270px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 170px;
}

#u4675
{
	z-index: 97;
	width: 756px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 253px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u4676
{
	z-index: 98;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 20px;
}

#u4673_clip,#u4676_clip
{
	overflow: hidden;
	width: 130px;
	height: 89px;
}

#u4673_img,#u4676_img
{
	margin-left: -2px;
	margin-right: -2px;
}

#u5308-6
{
	z-index: 100;
	width: 270px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 173px;
}

#u4721
{
	z-index: 106;
	width: 756px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 253px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u5309-7
{
	z-index: 107;
	width: 270px;
	min-height: 150px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 21px;
}

#u4680-2,#u4672-2,#u5308-2,#u5309-2
{
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
	font-weight: bold;
}

#u4680-3,#u4680-5,#u4672-4,#u5308-4,#u5309-3,#u5309-5
{
	line-height: 20px;
	color: #999999;
}

#u4730
{
	z-index: 114;
	width: 756px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 224px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u5310-7
{
	z-index: 115;
	width: 255px;
	min-height: 169px;
	line-height: 22px;
	color: #7F7F7F;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 45px;
}

#u5310
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
}

#u5310-5
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5310-4
{
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	line-height: 17px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u4774-3
{
	z-index: 122;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 113px;
	left: 407px;
}

#page .verticalspacer
{
	clear: both;
}

