#u5254-4
{
	display: block;
	vertical-align: top;
	position: relative;
}

#menuu5190
{
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
}

#u5220
{
	background-color: #E5AF1E;
	position: relative;
}

#u5220:hover
{
	background-color: #999999;
}

#u5220:active
{
	background-color: #6B6B6B;
}

#u5248
{
	background-color: #E5AF1E;
	position: relative;
}

#u5248:hover
{
	background-color: #999999;
}

#u5248:active
{
	background-color: #6B6B6B;
}

#u5194
{
	background-color: #E5AF1E;
	position: relative;
}

#u5194:hover
{
	background-color: #999999;
}

#u5194:active
{
	background-color: #6B6B6B;
}

#u5243
{
	background-color: #E5AF1E;
	position: relative;
}

#u5243:hover
{
	background-color: #999999;
}

#u5243:active
{
	background-color: #6B6B6B;
}

#u5229
{
	background-color: #E5AF1E;
	position: relative;
}

#u5229:hover
{
	background-color: #999999;
}

#u5229:active
{
	background-color: #6B6B6B;
}

#u5199
{
	background-color: #E5AF1E;
	position: relative;
}

#u5199:hover
{
	background-color: #999999;
}

#u5199:active
{
	background-color: #6B6B6B;
}

#u5284,#u5189,#u5219,#u5247,#u5191,#u5240,#u5226,#u5198,#u5233
{
	position: relative;
}

#u5236
{
	background-color: #E5AF1E;
	position: relative;
}

#u5236:hover
{
	background-color: #999999;
}

#u5236:active
{
	background-color: #6B6B6B;
}

#u5220.MuseMenuActive,#u5248.MuseMenuActive,#u5194.MuseMenuActive,#u5243.MuseMenuActive,#u5229.MuseMenuActive,#u5199.MuseMenuActive,#u5236.MuseMenuActive
{
	background-color: #0000FF;
}

#u5222-4,#u5249-4,#u5196-4,#u5244-4,#u5232-4,#u5200-4,#u5239-4
{
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

